body{
    max-width: 650px;
    margin: 0 auto;
    font-family: Arial;
    color: #333333;
    padding-left: 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    margin-bottom: 48px;
}

header a {
    margin-right: 16px;
    text-decoration: none;
    color: #888888;
}


h1 {
    font-size: 64px;
}

footer {
    border-top: 1px solid #888888;
    padding: 16px 0;
}

.main-content {
    flex-grow: 1;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px
}

button {
    border: 1px solid #888888;
    color: white;
    background: #888888;
    cursor: pointer;
    padding: 8px;
}